/* Parent container for the entire gallery */
.dg-image-gallery{
	position:relative;
	width:670px;
	height:600px;
	border:3px solid #AAA;
}
/* Enlarged image */
.dg-image-gallery-enlarged-image {
	position : absolute;
	left: 0px;
	top:0px;
	background-position : center center;
	width : 100%;
	height: 400px;

}
/* Caption below large image */
.dg-image-gallery-caption {
	position:absolute;
	bottom:150px;
	height:0px;
	width:100%;
	text-align:center;
	color: #CCC;
}
/* Container for all thumbnails */
.dg-image-gallery-thumbnail-container {
	position : absolute;
	bottom : 0px;
	width : 100%;
	left: 20px;
	padding-bottom:10px;
	width:630px;
	/* height:???; - is set by the script based on property thumb height */
}
/* Thumbnails inside thumbnail strip */
.dg-image-gallery-thumbnail{
	width: 120px;
	height : 120px;
	padding-right:2px;
	padding-left:2px;
}

/* Highlight element */
.dg-image-gallery-thumbnail-highlight{
	border:3px solid #CCC;
	padding:2px;
}

/* Previous and next buttons */

.dg-image-gallery-previous, .dg-image-gallery-next {
	background-position : center center;
	cursor: pointer;
	width:20px;
	height:120px;
	bottom:10px;
	position: absolute;
	cursor: pointer;
}
.dg-image-gallery-previous{
	background-image:url('../buttons/left.png');
	left : 0px;
}
.dg-image-gallery-previous-over{
	background-image:url('../buttons/left-over.png');
}
.dg-image-gallery-next{
	background-image:url('../buttons/right.png');
	right : 0px;
}
.dg-image-gallery-next-over{
	background-image:url('../buttons/right-over.png');
}

/** Autoplay buttons */
.dg-image-gallery-next-autoplay-container{
	position:absolute;
	right:0px;
	top:450px;
	z-index:20000;
	width:60px;
}
.dg-image-gallery-next-autoplay-start, .dg-image-gallery-next-autoplay-stop{
	position:absolute;
	top:0px;
	color:#CCC;
	padding:5px;
	height:20px;
	width:30px;

	text-align:right;
	background-repeat:no-repeat;
	cursor:pointer;
}
.dg-image-gallery-next-autoplay-start{
	left:0px;
	background-image:url('../buttons/play.png');
}
.dg-image-gallery-next-autoplay-stop{
	left:30px;
	background-image:url('../buttons/pause.png');
}
.dg-image-gallery-next-autoplay-start-off{
	background-image:url('../buttons/play-off.png');
	cursor: default;

}
.dg-image-gallery-next-autoplay-stop-off{
	background-image:url('../buttons/pause-off.png');
	cursor: default;

}